<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Managment System</title>
    <style>
        h3{
            font-size: 30px;
        }
        button{
            width: 250px;
            height: 70px;
            border-radius: 51px;
            cursor: pointer;
        }
        input{
            width: 550px;
            height: 30px;
        }
    </style>
</head>
<body align="center">
    <h1 align="center" id="top">Book issue</h1><hr style="margin-top: 3em;">
    <h3>Enter your username again : </h3>
    <input type="text" name="" required>
    <h3>Search book by book-id : </h3>
    <input type="text" name="" required><br><br>
    <button type="submit">Issue</button>
</html>